<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Create New Category</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      .BTN:hover {
        background-color: coral;
      }
      input[type="file"]::file-selector-button {
        margin-right: 20px;
        border: none;
        background: #084cdf;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
      }

      input[type="file"]::file-selector-button:hover {
        background: #0d45a5;
      }
      img {
        height: 60px;
        width: 60px;
      }
    </style>
  </head>
  <body
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: #296ef8;
      overflow: hidden;
    "
  >
    <div
      style="
        display: block;
        background-color: #332d2d;
        color: white;
        height: 30%;
        width: 600px;
        border-radius: 10px;
        padding-bottom: 10px;
      "
    >
      <div style="display: flex; align-items: center; justify-content: center">
        <a
          href="/articles/categories"
          style="
            text-decoration: none;
            position: absolute;
            top: 300px;
            left: 460px;
          "
          ><i style="font-size: 50px; color: white" class="fa fa-angle-left"></i
        ></a>
        <h1>Create New Category</h1>
      </div>
      <div style="margin-top: 15px; height: auto"></div>
      <form action="/articles/categories/create" method="POST">
        <div
        style="display: flex; align-items: center; justify-content: start"
      >   <label for="name" style="margin-right: 85px;font-size: 20px;margin-left: 20px;">Name:</label>
        <input type="text" id="name" name="name" required  style="
        height: 20px;
        width: 400px;
        background-color: white;
        outline: none;
        border: 1px solid white;
        color: black;
        font-size: 20px;
        border-radius: 4px;
        padding: 5px;
      "/></div>
        <br /> <div
        style="
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 40px;
        "
      >
        <button type="submit" style="
        width: 130px;
        height: 50px;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: 2px solid white;
        color: white;
        border-radius: 4px;">Create</button></div>
      </form>
     
      </div>
    </div>
  </body>
</html>
